Tag-value format definition (including continuation lines)

I would really like to have a more formal definition of the tag-value format in the spec.

I recently started writing some code (till now I only dealt with the more well-defined XML/RDF) and I found that we don’t really define the format in the spec. I did not find something answering things like “is whitespace allowed before a tag?”.

Also, I would like to have the convention of a continuation of a long line if the line starts with whitespace. Yes, for really long texts like licenses we specify that the value is enclosed in `<text>`, but we can have a general rule to be used for a couple of lines. We will always need the `<text>` case, because of empty lines and values including newlines.
This is already being discussed in other issues (e.g. #52).

Re-using text from my favorite 35-year old RFC, here’s a first pass of what could be in the spec:

> The file consists of a series of tag-value lines.
> Each tag-value can be viewed as a single, logical line of characters, comprising a tag name and a value. For convenience, the value portion of this conceptual entity can be split into a multiple-line representation; this is called "folding". The general rule is that wherever there may be linear-white-space, a CRLF immediately followed by AT LEAST one LWSP-char may instead be inserted.
> Thus, the single line

    Tag: a rather long value with lots of text

> can be represented as:

    Tag: a rather long value
        with lots of text

> or

    Tag: a rather long value
          with lots
        of text

> The process of moving from this folded multiple-line representation of a tag-value to its single line representation is called "unfolding". Unfolding is accomplished by regarding CRLF immediately followed by a LWSP-char as equivalent to the LWSP-char.
> Once a field has been unfolded, it may be viewed as being composed of a tag name followed by a colon (":"), followed by a value, and terminated by a carriage-return/line-feed. The tag name must be composed of printable characters. The value may be composed of any characters.
> Certain values may be interpreted according to an internal syntax that some systems may wish to parse. These fields are called "structured fields". Examples include fields containing dates. Other fields, such as comments, are regarded simply as strings of text.

@zvr this makes sense ++. I guess you are talking about RFC822? ;)

On Wed, Apr 04, 2018 at 02:17:15PM +0000, Philippe Ombredanne wrote:
> @zvr this makes sense ++. I guess you are talking about RFC822? ;)

+1 to recycling the email RFCs for tag/values.  But note that RFC 822
had an overly-generous folding whitespace definition which was
obsoleted in RFC 2822 [1] and 5322 [2].  So if we reference an RFC, I
think it makes sense to reference the current RFC 5322.

[1]: https://tools.ietf.org/html/rfc2822#section-4.2
[2]: https://tools.ietf.org/html/rfc5322#section-4.2


One consideration - the RFC's specifies a CRLF followed by a whitespace character (not an LF by itself as is common in Linux/Unix environments).

We could allow LF by itself to make it more usable to tag/value authors at the expense of complicating the parsing.

On Wed, Apr 04, 2018 at 12:43:43PM -0700, goneall wrote:
> One consideration - the RFC's specifies a CRLF followed by a
> whitespace character (not an LF by itself as is common in Linux/Unix
> environments).
>
> We could allow LF by itself to make it more usable to tag/value
> authors at the expense of complicating the parsing.

I prefer using the vanilla RFC ABNF for the spec, but mentioning that
implementations MAY support alternative newlines if they want to.
Then folks interested in producing portable .spdx would use CRLF.  But
folks who went with LF-only or similar would still work with, for
example, the Python parser [1] (and likely most other parsers).

[1]: https://docs.python.org/3.5/library/email.parser.html#email.parser.FeedParser.feed


Since we are making large changes to tag/value for 3.0+, I'm going to close this issue.

cc: @kestewart 